.home-container{
  position: absolute;
  top:0;
  bottom: 51px;
  left: 0;
  right: 0;
  .home-nav-box{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    a{
      display: flex;
      height: 100px;
      flex-basis: 25%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      em{
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 35px;
        border-radius: 50%;
        background: #ff5a17;
        color: #fff;
      }
      span{
        height: 30px;
        line-height: 30px;
        font-size: 15px;
      }
    }
  }
}